﻿@model IEnumerable<PartyInvites.Models.GuestResponce>
@{
    Layout = null;
}
<DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Ответы</title>
    </head>
    <body class="text-center">
        <p>
            <h1 class="alert-info">Вот список людей которые пойдут на вечеринку</h1>
        </p>
        <div class="panel-body">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <th>Имя</th>
                <th>Email</th>
                <th>Телефон</th>
                </thead>
                <tbody>
                    @foreach (PartyInvites.Models.GuestResponce item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>
</DOCTYPE>

