﻿
@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Индекс</title>
</head>
<body>
    <div class="text-center" >
        <h3>
            @ViewBag.Greeting народ!
        </h3>
        <p>
            У нас намечается крутая вечеринка, приходи если сможешь!<br />
            Если не сможешь, то все ровно приходи!
        </p>
        <a class="btn btn-primary" asp-action="RsvpForm">Ответить на приглашение</a>
    </div>
</body>
</html>

