﻿@model PartyInvites.Models.GuestResponce
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ответ</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Форма ответа</h4></div>
        <div class="panel-body ">
            <form class="p-a-1" asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <p>
                        <label asp-for="Name">Ваше имя:</label>
                        <input class="form-control" asp-for="Name" />
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <label asp-for="Email">Email:</label>
                        <input class="form-control" asp-for="Email" />
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <label asp-for="Phone">Номер телефона:</label>
                        <input class="form-control" asp-for="Phone" />
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <label>Пойдешь ли ты на вечеринку?</label>
                        <select class="form-control" asp-for="WillAttend">
                            <option value="True">Да, иду!</option>
                            <option value="False">Нет, не приду!</option>
                        </select>
                    </p>
                    </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

