﻿@model PartyInvites.Models.GuestResponce
@{
    Layout = null;
}
<DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Спасибо</title>
    </head>
    <body class="text-center">
        <p>
            <h1 >Спасибо вам, @Model.Name</h1>
            @if (Model.WillAttend)
            {
                @:Спасибо что ты придешь, это очень круто!
            }
            else
            {
                @:Очень жаль что ты не придешь:(
            }
        </p>
        Нажми<a class="nav-link" asp-action="ListResponses">сюда</a>,список тех кто придет!
    </body>
</html>
</DOCTYPE>